body{
  background-color: rgba(245, 245, 245, 0.75);
  margin: 0;
  padding: 0;
}
.heading{
  font-size: 3rem;
}
.start>.card{
  width: 15rem;
}
.card{
  width: 20rem;
  box-shadow: 0 0 20px;
}
.start{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: small;
}
.options{
  display: flex;
  flex-direction: column;
}
.quiz{
  margin-top: 10vh;
}
.ques-img{
  width: 100%;
}
.questionNo{
  text-align: center;
  font-weight: bolder;
  color: green;
}
.correct{
  background: linear-gradient(rgb(2, 255, 2), rgb(39, 184, 39));
  color: white;
  height: 10vh;
  border-radius: 5px;
  padding: 2%;
}
.wrong{
  background: linear-gradient(red, rgb(250, 83, 83));
  display: flex;
  align-items: center;
  color: white;
  height: 15vh;
  border-radius: 5px;
  padding: 2%;
}
.score{
  background-color: green;
  color: white;
  border-radius: 5px;
  padding: 3%;
}
.bottom{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
}
.end{
  margin-top: 15vh;
  height: 30vh;
  background: linear-gradient(rgb(17, 129, 17), rgb(59, 197, 59));
  color: white;
}
.result{
  font-size: 3rem;
}
.final-score{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-end;
}