body{
  background-color: rgba(245, 245, 245, 0.75);
  margin: 0;
  padding: 0;
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.heading{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.logo{
  height: 3.5rem;
  margin-right: 0;
  cursor:pointer;
}
.card{
  width: 20rem;
  box-shadow: 0 0 25px;
  height: max-content;
}
.start>.card{
  margin: 0;
  width: 45vw;
}
.start{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

@media only screen and (max-width: 320px) {
  .card{
    width: 90vw;
  }
  .start>.card{
    width: 80vw;
  }
} 

@media only screen and (min-width: 525px) {
  .card{
    width: 30rem;
  }
  .start>.card{
    width: 10rem;
  }
} 


.options{
  display: flex;
  flex-direction: column;
}
.quiz{
  /* margin-top: 5vh; */
  height: 100%;
}
.ques-img{
  width: 100%;
}
.questionNo{
  text-align: center;
  font-weight: bolder;
  color: green;
}
@media (orientation: landscape) {
  .card{
    width: 80vw;
  }
  .flex{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 2vw;
  }
  .ques-img{
    width: 35vw;
    margin-right: 10px;
  }
  .question{
    width: 30vw;
  }
  .end{
    
  }
}
.correct{
  background: linear-gradient(rgb(2, 255, 2), rgb(39, 184, 39));
  color: white;
  height: 5rem;
  border-radius: 5px;
  padding: 2%;
}
.wrong{
  background: linear-gradient(red, rgb(250, 83, 83));
  display: flex;
  align-items: center;
  color: white;
  height: 4rem;
  border-radius: 5px;
  padding: 2%;
}
.score{
  background-color: green;
  color: white;
  border-radius: 5px;
  padding: 3%;
}
.bottom{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
}
.end{
  margin-top: 15vh;
  height: 30vh;
  background: linear-gradient(rgb(17, 129, 17), rgb(59, 197, 59));
  color: white;
}
.result{
  font-size: 3rem;
}
.final-score{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-end;
}